.fact {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
}

.about-desc {
  margin: 0 10vw;
}

.fact:nth-child(1) > .about-desc,
.fact:nth-child(3) > .about-desc {
  grid-column: 2 / span 3;
}

.fact:nth-child(2) > .about-desc {
  grid-column: 1 / span 3;
}

.fact:nth-child(2) {
  background-image: url("./photos/babyblue6.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.about-photo {
  margin: 10vh 5vw;
}

.fact h2 {
  font-size: 50px;
  font-family: 'Sansita Swashed', cursive;
}

@media only screen and (max-width: 750px) {
  .fact {
    display: block;
  }

  .about-photo {
    margin: 10vh 2vw;
    width: 96vw;
  }
}