body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: rgba(231, 219, 200, 0.568);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(212, 181, 136);
  border-radius: 4px;
}