.foot {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  background-color: rgb(34, 34, 34);
  color: whitesmoke;
  padding: 20px 40px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.section-title {
  margin: 15px 0;
  font-size: 20px;
  color: rgb(212, 181, 136)
}

.icon-item {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.footer-text {
  margin: 5px 0;
}

.icon-item > .footer-text {
  margin-left: 7px;
}

.newsletter {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-row-gap: 12px;
}

.newsletter-label {
  grid-column: 1 / span 2;
}

.newsletter-button, .newsletter-input {  
  box-sizing: border-box;
  border: none;
  font-size: 20px;
  height: 50px;
  font-family: 'Lato', sans-serif;
}

.newsletter-button {
  background-color: rgb(212, 181, 136);
  /* width: 120px; */
  color: white;
}

.newsletter-input {
  padding-left: 15px;
  /* width: 250px; */
}

.newsletter-input::placeholder {
  font-size: 20px;
  color: rgb(212, 181, 136);
}

.copyright {
  margin-top: 20px;
  padding-top: 10px;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.199);
  color: rgba(255, 255, 255, 0.199);
}

@media only screen and (min-width: 1000px) {
  .foot {
    grid-template-columns: repeat(4, 1fr);
  }

  .copyright {
    grid-column: 1 / span 4;
  }
}

@media only screen and (max-width: 1000px) {
  .foot {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .copyright {
    grid-column: 1 / span 2;
  }
}