.foot {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: whitesmoke;
  background-color: rgb(34, 34, 34);
  padding: 20px 40px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.section-title {
  margin: 15px 0;
  font-size: 20px;
  color: rgb(212, 181, 136)
}