body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(255, 0, 0);
  opacity: 0;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(212, 181, 136);
  border-radius: 4px;
}